.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  //   background:rgb(225, 228, 250);
  background-color: $white-three;
}

.container {
  // outline: 1px solid #4164ff;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.inner {
  position: relative;
}
.svgSpriteWrap {
  position: absolute;
}
a {
  display: inline-block;
  @include transition;
  cursor: pointer;
  &:hover {
    color: lighten($emerald, 5%);
  }
}

.imgs {
  overflow: hidden;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.rel {
  position: relative;
}

.hidden {
  display: none;
}

/* +++++++++++++++++++++++++++++++++++++ */

._hover {
  &:hover {
    color: lighten(green, 25%);
    // text-shadow: 0 0  14px white;
  }
}
/* +++++++++++++++++++++++++++++++++++++ */
@media (prefers-reduced-motion: no-preference) {
  .top-animation {
    animation: wipe-enter 1.5s;
  }
  @keyframes wipe-enter {
    0% {
      transform: translate(0, -100px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .left-animation {
    animation: left-enter 1.5s;
  }
  @keyframes left-enter {
    0% {
      transform: translate(-200px, 0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .right-animation {
    animation: right-enter 1.5s;
  }
  @keyframes right-enter {
    0% {
      transform: translate(200px, 0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
/* +++++++++++++++++++++++++++++++++++++ */
.soc {
  @include flex-aligne-center;
  column-gap: 7px;
  &__item {
    a {
      border-radius: 100%;
      &:hover {
        transform: scale(1.05);
      }
    }
    svg {
      width: 43px;
      height: 43px;
    }
  }
}
.lock {
  overflow: hidden;
}
.ttu {
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1259px) {
  .container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
  .inner {
    padding: 85px 0 0 0;
  }
}
