.select {
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  @include flex-column;
  justify-content: center;
  .dropdown-button {
    width: 100%;
    min-height: 15px;
    position: relative;
    background: $white-three;
    justify-content: center;
    text-align: left;
    z-index: 2;
    padding: 5px 0px;
    white-space: nowrap;
    cursor: pointer;
    @include flex-column;
    @include transition;

    svg {
      width: 12px;
      height: 8px;
      position: absolute;
      left: auto;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      @include transition;
      &._is-active {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    span {
      @include transition;
      display: flex;
      @include Text-Style-0;
      &._is-new {
        font-size: 26px;
        opacity: 1;
        width: 80%;
      }
    }
    &:hover {
      span {
        color: $hover;
      }
    }
  }

  .dropdown-list {
    width: 100%;
    text-align: left;
    background: $white-three;
    @include transition;
    display: grid;
    grid-template-rows: 0fr;
    position: absolute;
    height: auto;
    width: 100%;
    top: 100%;
    border: solid 1px $white-four;
    opacity: 0;
    visibility: hidden;
    &-wrap {
      min-height: 0;
      @include transition;
    }
    &._is-active {
      grid-template-rows: 1fr;
      border: solid 1px $white-four;
      opacity: 1;
      visibility: visible;
      // position: absolute;
      // top: 100%;
    }

    &__item {
      padding: 10px;
      cursor: pointer;
      @include transition;
      @include Text-Style;
    }

    &__item._item-active {
      background: $sunflower-yellow;
    }

    &__item:hover {
      background: lighten($sunflower-yellow, 40%);
    }
  }
}
