.form-field {
  width: 40%;
  
  position: relative;
  box-sizing: content-box;
  @include transition;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    color: lighten(green, 25%);
    border: solid 1px lighten(green, 25%);
    .form-field__area-svg {
      background: lighten(green, 25%);
    }
  }

  input {
    width: 100%;
    height: 100%;
    min-height: 50px;
    opacity: 0;
    // position: absolute;
    // padding: 10px 0 10px 20px;
    padding: 0 0 0 0;
    border: none;
    font-size: 0;
    @include transition;

    & ~ div {
      display: none;
    }
    & ~ svg {
      display: none;
    }
  }
  p {
    @include transition;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -20;
    padding: 0 0 0 20px;
  }

  &._is-active {
    input {
      position: relative;
      background: transparent;
      width: calc(100% - 50px);
      opacity: 1;
      font-size: 25px;
      padding: 15px 0 0 20px;
      z-index: 5;
    }
    p {
      z-index: 5;
      transform: translateY(-130%);
    }
  }

  &__area-svg {
    z-index: -20;
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #eee;
    transform: translateY(-50%);
    @include flex-center;
    transition: all 0.2s;
    svg {
      width: 13px;
      height: 7px;
    }
  }

  // &--year {
  //   max-width: 230px;
  //   input:not(:placeholder-shown) {
  //     padding: 7px 20px;
  //   }
  // }
}
