.fildset-checkbox {
  .form-check {
    position: relative;
  }
  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 46px;
    // line-height: 20px;
    padding: 0 0 0 46px;
    line-height: 26px;
    cursor: pointer;
    @include transition;
    &:hover {
      // color: lighten($jungle-green, 25%);
    }
  }

  input[type="checkbox"]:not(:checked) + label::before,
  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    @include transition;
  }

  input[type="checkbox"]:not(:checked) + label::before {
    width: 17px;
    height: 17px;
    border: solid 2px $white-four;
  }
  input[type="checkbox"]:checked + label::before {
    width: 17px;
    height: 17px;
    border: solid 2px $jungle-green;
  }

  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 6px;
    transform: translate(4px, -4px) rotate(-45deg);
    top: 50%;
    left: 0;
    border-left: solid 2px $jungle-green;
    border-bottom: solid 2px $jungle-green;
    @include transition;
  }
  input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }
  input[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
  }
}
