.text-field {
  textarea {
    width: 100%;
    background: transparent;
    resize: none;
    @include transition;
    display: block;
    outline: none;
    border: 1px solid transparent;
    padding: 0px 0 0px;
    z-index: 10;
    position: relative;

    &::placeholder {
      opacity: 0;
    }
    & + label {
      left: 0;
      position: absolute;
      top: 0%;
      transform: translateY(0%);
      z-index: 2;
    }
    &:focus {
      padding: 60px 20px 8px 0px;
      & + label {
        left: 0;
        transform: translateY(-150%);
      }
    }
  }
  textarea:not(:placeholder-shown) {
    padding: 60px 20px 8px 0px;
  }
  textarea:not(:placeholder-shown) + label {
    transform: translateY(-150%);
  }
  &:hover {
    label {
      color: $hover;
    }
  }
}
